@import "../base/colors.scss";

.banner {
  padding: 30px;
  background-color: #F5F5F5;

  @media screen and (max-width: 768px) {
    padding: 30px 15px;
  }

  &__title {
    font-size: 32px;
    line-height: 120%;
    text-align: center;

    @media screen and (max-width: 1440px) {
      font-size: 22px;
    }

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  &__subtitle {
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: $red;

    @media screen and (max-width: 1440px) {
      font-size: 26px;
    }

    @media screen and (max-width: 769px) {
      font-size: 20px;
    }
  }

  &__bottom {
    font-size: 32px;
    line-height: 120%;
    text-align: center;

    @media screen and (max-width: 1440px) {
      font-size: 22px;
    }

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
}
