@import "../base/colors.scss";

.modal {
  position: fixed;
  z-index: 199;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

  &.modal--active {
    opacity: 1;
    visibility: visible;
  }

  @media screen and (max-width: 768px) {
    font-size: 20px;
    padding: 20px;
  }

  &-reviews {
    & .modal__title {
      margin-bottom: 35px;

      @media screen and (max-width: 768px) {
        margin-bottom: 25px;
      }
    }

    & .modal__form {
      max-width: 680px;
    }

    & .modal__wrapper {
      min-height: 640px;
      max-width: 820px;

      @media screen and (max-width: 768px) {
        min-height: 500px;
        padding: 90px 20px;
      }
    }
  }

  &-success {
    & .modal__wrapper {
      max-width: 450px;
    }
  }

  &__wrapper {
    position: relative;
    max-width: 663px;
    width: 100%;
    background: $yellowGradient;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;

    @media screen and (max-width: 768px) {
      min-height: 500px;
      padding: 80px 20px;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 45px;
    line-height: 120%;
    color: $red;
    margin-bottom: 15px;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 26px;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__close {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: $red;

    position: absolute;
    top: 25px;
    right: 40px;
    cursor: pointer;
    transition: 0.2s;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      right: 20px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__form {
    max-width: 380px;
    width: 100%;

    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }
}

.modal-form {
  &__field {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__input {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 50px 50px -40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-size: 20px;
    line-height: 24px;

    height: 60px;
    padding: 18px 20px;
    box-sizing: border-box;
    width: 100%;

    @media screen and (max-width: 768px) {
      height: 55px;
      font-size: 16px;
      line-height: 20px;
      padding: 18px 15px;
    }

    &::placeholder {
      font-family: Lato, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      opacity: 0.5;

      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    width: 100%;
    margin-top: 20px;
  }

  &__inner {
    display: flex;
    column-gap: 20px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__left {
    @media screen and (max-width: 768px) {
      margin-bottom: 25px;
    }

    & p {
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      margin: 0;
      margin-top: 10px;
    }
  }

  &__right {
    width: 100%;
  }

  &__foto {
    width: 160px;
    height: 160px;
    display: block;
    background-color: $white;
    border-radius: 20px;
    position: relative;

    &:after {
      content: 'Ваше фото';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 20px;
      line-height: 24px;
      color: #000000;

      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 19px;
      }
    }

    @media screen and (max-width: 768px) {
      margin: 0 auto;
      width: 105px;
      height: 105px;
    }
  }

  &__textarea {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 50px 50px -40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-size: 20px;
    line-height: 24px;

    height: 200px;
    padding: 18px 20px;
    box-sizing: border-box;
    width: 100%;
    resize: none;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }

    &::placeholder {
      font-family: Lato, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      opacity: 0.5;


      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &:focus {
      outline: none;
    }

  }
}
